html, body {
    background-color: #FAFAFA;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    max-width: 32px;
    vertical-align: middle;
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

.roboto-light {
    font-family: roboto;
    font-weight: 100;
}

.custom-card {
    padding: 5px;
}

.brand-logo-custom {
    margin-left: 10px;
}

.inline {
    display: inline-block;
}

.ulist ul li{
    margin-left: 20px;
    list-style-type: square;
}

.center {
    align-content: center;
}

.min300 {
    min-height:300px;
}

.fullscreen {
    min-width: 100%;
    margin: auto 0px;
}

.center-text {
    text-align: center;
}

.clean-comment {
    font-size: 1em;
}

.clean-comment h1 {
    font-size: 12pt;
}